Core/DsRouterExchangeProviderLib/Service References/DSRouterService/DSRouterService76.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTupleOfunsignedShortunsignedInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfunsignedShortunsignedInt" nillable="true" type="tns:TupleOfunsignedShortunsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfunsignedShortunsignedInt" nillable="true" type="tns:ArrayOfTupleOfunsignedShortunsignedInt" />
  <xs:complexType name="TupleOfunsignedShortunsignedInt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedShort" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="unsignedInt" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:unsignedShort" />
      <xs:element name="m_Item2" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfunsignedShortunsignedInt" nillable="true" type="tns:TupleOfunsignedShortunsignedInt" />
  <xs:complexType name="TupleOfbase64Binarystring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="base64Binary" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:base64Binary" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfbase64Binarystring" nillable="true" type="tns:TupleOfbase64Binarystring" />
  <xs:complexType name="ArrayOfTupleOfdateTimedateTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfdateTimedateTime" nillable="true" type="tns:TupleOfdateTimedateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfdateTimedateTime" nillable="true" type="tns:ArrayOfTupleOfdateTimedateTime" />
  <xs:complexType name="TupleOfdateTimedateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:dateTime" />
      <xs:element name="m_Item2" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfdateTimedateTime" nillable="true" type="tns:TupleOfdateTimedateTime" />
  <xs:complexType name="ArrayOfTupleOfdateTimeanyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfdateTimeanyType" nillable="true" type="tns:TupleOfdateTimeanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfdateTimeanyType" nillable="true" type="tns:ArrayOfTupleOfdateTimeanyType" />
  <xs:complexType name="TupleOfdateTimeanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:dateTime" />
      <xs:element name="m_Item2" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfdateTimeanyType" nillable="true" type="tns:TupleOfdateTimeanyType" />
  <xs:complexType name="ArrayOfArrayOfTupleOfdateTimeanyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfTupleOfdateTimeanyType" nillable="true" type="tns:ArrayOfTupleOfdateTimeanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfTupleOfdateTimeanyType" nillable="true" type="tns:ArrayOfArrayOfTupleOfdateTimeanyType" />
</xs:schema>